<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="display-5 text-center">Welcome to my Angular Blog!</h1>
  <ul class="nav nav-pills">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"routerLink='/new'>Nouveau commentaire</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink='/posts'>Voir tout les Commentaire</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>  